.searchBox {
  width: 100%;
  margin-bottom: 24px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.filter {
  margin-right: 5%;
}

.filter:last-child {
  margin-right: 0;
}

.select {
  flex: 1;
  width: auto !important;
  margin-right: 5%;
}

.resultsFormat {
  width: auto !important;
  margin-left: 5%;
}

.infiniteHits {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hits {
  display: flex;
  width: auto;
}

.hitsColumn {
  background-clip: padding-box;
  margin-right: 12px;
}

.hitsColumn:last-child {
  margin-right: 0;
}

.hit {
  margin-bottom: 12px;
}

.hit > twitter-widget {
  width: auto !important;
  margin: 0 !important;
}

.standard .hit > twitter-widget {
  width: 520px !important;
}

.compact .hit {
  margin-bottom: 0;
}

.loadMoreButton {
  margin-top: 1em;
  align-self: center;
}
