# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe
# ------------------------------------------------------------------------------

NEXT_PUBLIC_ALGOLIA_APPLICATION_ID=
NEXT_PUBLIC_ALGOLIA_SEARCH_API_KEY=

ALGOLIA_SECRET_KEY=
ALGOLA_INDEX_NAME=

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=

TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
