# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe
# ------------------------------------------------------------------------------

ALGOLIA_CLIENT_ID=''
ALGOLIA_SECRET_KEY=''

TWITTER_CONSUMER_KEY=''
TWITTER_CONSUMER_SECRET=''

TWITTER_ACCESS_TOKEN=''
TWITTER_ACCESS_TOKEN_SECRET=''